export(bdrm, bdrmfit, traceplot, postsamples)
export(logistic, weibull1)
exportClasses("bdrm")

import(stats, ggplot2, tidyr)
importFrom("truncnorm", rtruncnorm, dtruncnorm)

S3method(bdrm, formula)
S3method(print, bdrm)